<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <center>
    <h4 class="form-signin-heading">Transaction</h4>
    </center>
    <form class="form-signin" action="/getBankImage" method="get" name="bankSide">
      {{ form.hidden_tag() }}
        <hr class="colorgraph">
        <div class= "form-group">
        <input type="text" id="UserId" class="form-control input-lg" placeholder="UserId" required autofocus name="userid"> 
	</div>       
        <div class="row">
                <div class="col-xs-11 col-sm-12 col-md-19">
                     Please provide your correct UserId to continue with transaction.
                </div>
        </div>
	<hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12 col-md-6">
			<input type="submit" value="Get Image" class="btn btn-primary btn-block btn-lg" tabindex="7" onclick="document.getElementById('imgd').click();">
			<a id="imgd" style="display:none" href="static/bankResult.png" download>
		</div>
            </div>
    </form>
</div>
     
{% endblock %}
