<html>
  <head>
    <title>Welcome to HMDC Bank</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/jquery.min.js"></script>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/signin.css" rel="stylesheet">
  </head>
  <body>
    <!-- <div><a href="/index">Home</a></div> -->
    <div class="row register_title" style="display:inline-flex;">
        <img src="../static/squre.gif" width="45" height="41" style="margin-left:10">
	<div class="title_name">HMDC BANK</div>
    </div>
    <hr>
    {% block content %}{% endblock %}
  <script type="text/javascript" src="../static/script.js"></script>
  <script src="../static/bootstrap.min.js"></script>
  </body>
</html>
