<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container"> 
    <center>
    <h4 class="form-signin-heading">Downloads</h4>
    </center>    
    <hr class="colorgraph" style="width:50%">
    <div class="row">
    <center><a href="static/custResult.png" class="btn btn-lg btn-primary" type="submit" download>Download personal encrypted image</a></center>
    </div>
    <br/>
    <div class="row">
    <center><a href="static/foo.py" class="btn btn-lg btn-primary" type="submit" download>Download decryption engine</a></center>
    </hr>
    <hr class="colorgraph" style="width:50%">
    <div class="row">
                <div class="col-xs-11 col-sm-12 col-md-19">
                    <center>*If the download does not start immediately please click on the links above</center>
                </div>
    </div>
</div> 
{% endblock %}

