<!-- extend from base layout -->
{% extends "base.html" %}


{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col-md-2 col-md-offset-10 col-sm-2 col-sm-offset-10" style="margin-top:-1em;color:#CC0000;font-weight:bold;">ImgSec Registration</div>
    </div>
    <center>
    <h4 class="form-signin-heading">Online Customer Registration for ImgSec</h4>
    </center>
<div class="row" >
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form role="form" action="/download" method="get" name="register">
            {{ form.hidden_tag() }}
            <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" name="user_id" id="email" class="form-control input-lg" placeholder="User Id" tabindex="4">
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="password" name="acccount_no" id="password" class="form-control input-lg" placeholder="Account No." tabindex="5">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11 col-sm-12 col-md-12">
                     By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use Policy.
                </div>
            </div>
            
            <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
            </div>
        </form>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
            </div>
            <div class="modal-body">
                <p class="imp" style="width:743px"><b>Guidelines for Online ImgSec User Password</b> <br>
1. Please set your password between 6 to 15 characters. <br>
2. The password should be a Alpha-Numeric in nature, i.e. a mix of alphabets, numbers and special characters. <br>
3. Please do not set a password that can be easily compromised (for eg, do not put your name, family name, date of Birth etc) which could be    common knowledge to others. <br>
4. Your password is case sensitive ; please ensure you remember the manner in which you set the password. <br>
5. Please change your password periodically. <br>
6. In case the password is not changed then for security reasons every 120 days you would be asked to compulsorily change your password. <br>
</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div> 


{% endblock %}

