{% extends "base.html" %}

{% block content %}
<div class="container">
    <center>
    <h4 class="form-signin-heading">Validation Message</h4>
    </center>
    <form class="form-signin" action="/validate" method="get" name="validate">
      {{ form.hidden_tag() }}
        <hr class="colorgraph">
        <div class= "form-group">
        <input type="text" id="inputPassword" class="form-control input-lg" placeholder="Message Obtained" required autofocus name="message"> 
	</div>       
        <div class="row">
                <div class="col-xs-11 col-sm-12 col-md-19">
                     Please provide the message obtained from the two images.
                </div>
        </div>
	<hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12 col-md-6">
			<input type="submit" value="Continue" class="btn btn-primary btn-block btn-lg" tabindex="7">
			
		</div>
            </div>
    </form>
</div>
   {% endblock %}


